.image, .audio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  audio {}

  img {
    max-width: 80%;
    height: auto;
  }

  p {
    font-size: 32px;
    margin-top: 16px;
  }
}

.text {
  text-align: center;
  font-size: 64px;
  padding-left: 32px;
  padding-right: 32px;
}
