@import "~bootstrap/scss/bootstrap";

.App {
  display: grid;

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  grid-gap: 25px;

  grid-template-areas: "header" "quiz" "footer";
}

body {
  color: #ced4da;
  background: #1d2124;
}

p {
  margin-bottom: 0;
}
